.Helpus{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}

.StyledHelpusButtonContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    .HelpusButton{
        cursor: pointer;
        border-radius: 10px;
        border: none;
        background: var(--green-dark-clr);
        padding: 10px 1rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        transition: 0.4s ease-in-out;

        &:hover{
            background: var(--hover-clr);
        }

        a{
            font-family: 'Archivo';
            font-weight: var(--text-bold-fw);
            color: var(--white-clr);
        }

        @media (min-width: 768px){
            margin-top: 1rem;
            font-size: 1.5rem;
        }

    }
}

.HelpusSnippets{
    font-family: 'Archivo';
    font-weight: var(--text-black-fw);
    width: 100%;
    max-width: 1000px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--green-dark-clr);

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width: 1200px) {
        font-size: 4rem;
    }
}