:root{

    //Colors//
    --bg-clr: hsl(120, 100%, 92%);
    --white-clr: hsl(0, 0%, 100%);
    --black-clr: hsl(0, 0%, 0%);
    --green-dark-clr: hsl(137, 95%, 16%);
    --green-light-clr: hsl(137, 55%, 41%);
    --hover-clr: hsl(90, 100%, 50%);

    //Fonts//
    --text-black-fw: 900;
    --text-thin-fw: 100;
    --text-bold-fw: 700;
    --text-medium-fw: 500;

}